build/
.todo
.gradle/
bin/
.project
.classpath
.settings/
rebel.xml
*.iml
*.ipr
*.iws
.gradletasknamecache
*.bak
out/
*.lock
target/
.idea/
chromedriver.log
.DS_Store
web-app/userfiles/
web-app/files/
web-app/plugins/
courseFiles/
web-app/uploads/
backup/
